@use '@/sass/variables' as *;

.container {
  position: relative;

  .tooltip {
    position: absolute;
    padding: 0.5rem;
    background-color: $black;
    color: $white;
    white-space: nowrap;
    z-index: $z-index-tooltip;
    font-size: 1.2rem;
  }

  .top {
    margin-bottom: 0.5rem;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
  }

  .right {
    margin-left: 0.5rem;
    left: 100%;
    top: 50%;
    transform: translateY(-50%);
  }

  .bottom {
    margin-top: 0.5rem;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
  }

  .left {
    margin-right: 0.5rem;
    right: 100%;
    top: 50%;
    transform: translateY(-50%);
  }
}
