@use '@/sass/typography' as *;
@use '@/sass/variables' as *;

.container {
  display: flex;
  align-items: center;
  flex-direction: column;

  .input-wrapper {
    width: 100%;
    position: relative;
    display: flex;

    input {
      width: 100%;
      border: 1px solid $black;
      padding: 1.25rem;
      font-size: $font-size-base;
      border: 1px solid #c0bfbf;

      &:hover {
        background-color: #edeef0;
      }

      &::placeholder {
        font-size: $font-size-base;
        color: #414040;
      }

      &:focus {
        background-color: #edeef0;
        outline: 3px solid rgb(190, 218, 255);
        border: 1px solid rgb(46, 135, 252);
      }
    }

    .toggle-password {
      position: absolute;
      height: 100%;
      right: 1.25rem;
      display: flex;
      align-items: center;
    }
  }

  .error {
    width: 100%;
    text-align: start;
    color: rgb(248, 51, 84);
    margin-top: 0.5rem;
  }
}
