@use '@/sass/mixins' as *;
@use '@/sass/variables' as *;

.container {
  @include flex-center;
  min-height: calc(100vh - 8rem - $header-height);

  form {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1.5rem;
    width: 40rem;

    .login-and-reset-password {
      display: flex;
      justify-content: space-between;
    }
  }
}
