@use './variables' as *;

$font-family-base: Helvetica, sans-serif;

$font-size-base: 1.4rem;

html {
  font-size: 62.5%;
}

body {
  font-family: $font-family-base;
  font-size: $font-size-base;
}

a {
  color: $black;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
