@use '@/sass/variables' as *;

.container {
  justify-content: space-between;
  background-color: $white;
  padding: 0 4rem;
  display: flex;
  align-items: center;
  height: $header-height;
  position: fixed;
  width: 100%;
  box-shadow: $box-shadow;
  z-index: $z-index-fixed;

  .left {
    flex: 1;
  }

  .middle {
    text-align: center;
    flex: 1;
  }

  .right {
    display: flex;
    justify-content: flex-end;
    flex: 1;

    div {
      &:not(:last-child) {
        margin-right: 2rem;
      }
    }
  }
}
